body{
   background-image:url(screenshots/6.jpg);	
}	
a{
	color: #121212;
	text-decoration: none; 
}    

#d1{ 
    color:#0000FF;
     font-size:20px;
}

#d2{ 
    color:#FFF300;
}



.Wanted{
	border: 2px solid #000000;
	
}
	




.Wanted:hover{
	border:10px solid #000000; 
} 	

.Wantd{
	font-size: 50px;
}


.Кусок:hover{
	border: 2px solid #ffffff;

}

.Home_page{
	font-size: 39px;
}

.Ihor_pidor{
    font-size: 39px;
}
